  .module.MMM-CivitAI {
    /*position: relative;*/
    
  }
  
  .civitaifade {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .civitai-message {
    font-size: 1.3em;
    color: white;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    z-index: 1;
}
  .topfade,
  .bottomfade {
    position: absolute;
    width: 100%;
    height: 100px;
  }
  
  .topfade {
    top: 0;
  }
  
  .bottomfade {
    bottom: 0;
  }
  
  .civitai-bg-attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 60px;
    font-size: 16px;
    z-index: 10;
  }
  

    
  .civitai-bg-error {
    position: absolute;
    bottom: -5px;
    text-align: center;
    width: 100%;
    z-index: 10;
  }
  
  .civitai-bg-error .civitai-error-reason {
    text-transform: uppercase;
    padding: 0px 5px;
    margin-bottom: -8px;
  }
  
  .civitai-bg-error .civitai-error-info {
    font-size: 20px;
  }
  
  .civitai-bg-error .civitai-error-icon {
    color: red;
    padding: 0px 5px;
  }
  
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: local('Rubik Light'), local('Rubik-Light'),
         url('fonts/rubik-v7-latin-300.woff2') format('woff2'),
         url('fonts/rubik-v7-latin-300.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'),
         url('fonts/rubik-v7-latin-regular.woff2') format('woff2'),
         url('fonts/rubik-v7-latin-regular.woff') format('woff');
  }
  